.dialog {
    width: 600px;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    display: none;
    padding: 0.5rem;
    background: var(--bg-color);
    z-index: 500;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include respond(tab-port) {
        width: 350px;
    }

    &--open {
        display: flex;
    }

    &__text {
        color: var(--text-color);
        text-decoration: none;
        margin-left: 1rem;
        font-weight: 500;

        &--clear {
            margin-left: 0;
            margin-right: auto;
        }
    }
}